/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* CSS Document */
* {
	transform: translate3d(0,0,0);	
	-ms-transform: translate3d(0,0,0);	
	-webkit-transform: translate3d(0,0,0);	
	-o-transform: translate3d(0,0,0);	
	-moz-transform: translate3d(0,0,0);	
}
body, html {
	width: 100%;
	height:100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
    background:#000000;
	overflow:hidden;
	margin:0px;
	padding:0px;
	position:relative;
}
canvas {
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
	margin:0px;
	padding:0px;
	transform: translateZ(0); 
}
.DOMscaleable {
	position:absolute !important;
	left:0px;
	top:0px;
	transform-origin:left top;
	-ms-transform-origin:left top;
	-webkit-transform-origin:left top;
}
input {
	z-index: 1000;
	background: none;
	border: none;
	padding: 0px;
	color: #333333;
	display: none;
	box-shadow:none;
	-webkit-appearance: none; 
    -moz-appearance: none;
	outline: none;
	font-size:10px;
}
input:focus {
	outline: none;
}

.textInputActive, .textInputActive:active, .textInputActive:focus {
	font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
	font-size:10px;
	padding-right: 10px;
	border:none !important;
	outline:none !important;
	color:#CCCCCC;
}
.winPrizesInput.idle {
	color:#ff0000;
}
.winPrizesInput.active {
	color:#333333;
}
.fb-like {
	overflow:hidden;
	z-index:10000;
	margin:0px;
	padding:0px;
	width:50px;
	height:20px;
	transform-origin:top left;
	-webkit-transform-origin:top left;
	-o-transform-origin:top left;
	-ms-transform-origin:top left;
}
.fb-like-link {
    overflow:hidden;
	z-index:10000;
	margin:0px;
	padding:0px;
	width:47px;
	height:20px;
    display: block;
}
.hide {
	opacity: 0; height: 0px; overflow: hidden;
}
.rotate-device {
	position:fixed;
	width:100%;
	height:100%;
	background: #000000;
	background-image:url('img/rawassets/rotate_device.png');
	background-position: center center;	
	background-repeat:no-repeat;
	background-size:contain;
	z-index:10001;	
	top:0;
	left:0;
}